body {
    position: relative;
    width: 100%;
    margin: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

* {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

#container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    padding-top: 70px;
    box-sizing: border-box;
    overflow-y: auto;
}

#container>* {
    margin: auto;
}

h1,h2,h3,p,a {
    color: rgba(0,0,0,0.8);
}

hr {
    border:0;
    border-top: 1px solid rgba(0,0,0,0.05);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #D8D4CF;
    background: #131516;
    border: 1px solid #BEBDBB;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
}

.download-button {
    margin: 30px 0 10px;
    padding: 15px 45px;
    font-size: 2.2em;
    background: #3498db;
    border-radius: 25px;
    font-weight: 700;
    color: white;
    transition: all 0.25s ease-out;
    text-decoration: none;
}

.download-button div {
    font-size: 0.55em;
}

.download-button:hover {
    color: #3498db;
    background: white;
}

[disabled]{
    opacity: 0.3;
}

@media screen and (max-width: 500px){
    .button {
        margin: 5px 10px;
    }
    .or {
        display: inline-block;
        width: 100%;
    }
}
