
.card {
    position: relative;
    background: #131516;
    max-width: 1000px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-card {
  padding-bottom: 65px;
}

.first-card__title {
  margin: 0 0;
  font-weight: 700;
  font-size: 50px;
}

.second-card {
  padding-top: 50px;
  gap: 10px;
}

.copyright {
    color: #D8D4CF;
    font-size: 15px;
}

h1, h2, h3 {
    color: #D8D4CF;
    font-weight: 700;
    margin-bottom: 20px;
}

#logo-image {
    position: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    left: calc(50% - 75px);
    border: 0px solid #131516;
}

#product-gif {
    position: center;
    width: 75%;
    height: auto;
    border-radius: 1%;
    border: 1px solid #D8D4CF;
}
